<div class="cursor-pointer card-custom mx-auto" style="max-width: 250px;">
  <div class="card text-white border-custom position-relative" >
    <i class="z-3 bi bi-heart fs-3 position-absolute position-custom"></i>
    <div class="overlay border-custom"></div>
    <img src="./pinguim.png" class="card-img-top border-custom" alt="Pinguim">
    <div class="z-3 card-body bg-custom">
      <h5 class="card-title fs-3 fw-semibold">Pinguim</h5>
      <p class="card-text fs-6 ps-1">2024</p>

      <div class="d-flex align-items-center justify-content-between">
        <span class="medal">Séries</span>
        <a class="fs-6 link-custom">
          ver mais
        </a>
      </div>

    </div>
  </div>
</div>