

<div  class="card-custom mx-auto" style="max-width: 250px;">
  <div class="card text-white border-custom position-relative" >

    <i 
      (click)="toggleFavorite()"
      class="z-3 bi fs-3 position-absolute position-custom cursor-pointer"
      [ngClass]="isFavorite ? 'bi-suit-heart-fill text-danger' : 'bi-suit-heart hover-blue'" 
    ></i>
    <div class="overlay border-custom shadow"></div>
    <img [src]="movie.Poster !== 'N/A' ? movie.Poster : './poster-default.jpg'" class="card-img-top border-custom shadow-sm" alt="Pinguim">

    <div routerLink="/details" (click)="getMovieDetails(movie.imdbID)" class="z-3 card-body bg-custom cursor-pointer ">
      <h5 class="card-title fs-3 fw-semibold truncate-multiline">{{ movie.Title }}</h5>
      <p class="card-text fs-6 ps-1">{{ movie.Year }}</p>

      <div class="d-flex align-items-center justify-content-between">
        <span class="medal">{{ movie.Type }}</span>
        <a class="fs-6 link-custom">
          ver mais
        </a>
      </div>
    </div>
    
  </div>
</div>

  <app-toast></app-toast>
