<header class="p-3 bg-custom" role="banner" aria-label="Header do site NTT Movie DATA">

  <div class="container-xl mx-auto d-flex align-items-center justify-content-between">

    <div class="rounded-circle p-2 d-flex justify-content-center align-items-center" role="img"
      aria-label="Logo NTT Movie DATA">
      <a routerLink="/" class="text-decoration-none">
        <img src="./kit-cinema.png" alt="Logo NTT Movie DATA" class="logo-custom" aria-hidden="true">
      </a>
    </div>

    <div>
      <a routerLink="/" class="d-flex align-items-center justify-content-center text-decoration-none"
        aria-label="Ir para a página inicial">
        <span class="fs-3 text-white fw-bold">NTT Movie DATA</span>
      </a>
    </div>

    <div class="d-flex align-items-center gap-2">
      <ng-container *ngIf="isLoggedIn(); else loginTemplate">
        <app-sidebar></app-sidebar>
        <i class="bi bi-box-arrow-in-right text-white fs-4 cursor-pointer" (click)="logout()"></i>
      </ng-container>
      <ng-template #loginTemplate>
        <app-button (click)="login()" variant="primary" ariaLabel="Ir para a página de login">
          <img src="./gmail-icon.svg" alt="ícone do gmail" />
          Entrar
        </app-button>
      </ng-template>
    </div>

  </div>

  <div class="mt-3" aria-label="Campo de busca">
    <app-search></app-search>
  </div>

</header>