<form role="search" (ngSubmit)="searchMovie()">
  <div class="col-10 col-md-7 col-lg-6 col-xl-4 mx-auto mb-3 mb-lg-0 d-flex bg-white rounded-pill">
    <input 
      type="search" 
      [(ngModel)]="movieTitle" 
      name="movieTitle" 
      class="form-control me-2 rounded-pill border-0"
      placeholder="O que está procurando?" 
      aria-label="Search">
    <app-button 
      variant="warning" 
      (click)="searchMovie()"
      ariaLabel="Search" 
      type="submit"
    >
      Buscar
      <i class="bi bi-search ms-1"></i>
    </app-button>
  </div>
  <div *ngIf="showAlert" class="text-danger text-center">
    {{ errorMessage }}
  </div>
</form>