.favorite-item {
  position: relative;
}

.btn-remove {
  opacity: 0;
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.favorite-item:hover .btn-remove {
  opacity: 1; 
}

