@import '../../../styles.scss';

.btn-custom {
  border-radius: 50px; 
  border: 2px solid transparent; 
  font-weight: bold;
  min-width: 120px;

  &.btn-primary {
    background-color: $color-blue;
    color: white;
    
    &:hover {
      background-color: black;
      border-color: white; 
    }
  }

  &.btn-warning {
    background-color: $color-yellow;
    color: black;

    &:hover {
      background-color: white;
      border-color: black;
    }
  }
}