<footer class="footer mx-auto py-3 bg-custom">
  <div class="container-xl mx-auto text-center">
    <hr class="border-light">
    <nav role="navigation" aria-label="Social Media Links">
      <div class="d-flex justify-content-center mb-2">
        <a href="https://github.com/marina-barbosa" class="text-white mx-2" aria-label="GitHub"
          title="GitHub - Marina Barbosa (abre em nova aba)" target="_blank">
          <i class="bi bi-github fs-5"></i>
        </a>
        <a href="https://linkedin.com/in/marina-barbosa-exp" class="text-white mx-2" aria-label="LinkedIn"
          title="LinkedIn - Marina Barbosa (abre em nova aba)" target="_blank">
          <i class="bi bi-linkedin fs-5"></i>
        </a>
        <a href="https://wa.me/13996697841" class="text-white mx-2" aria-label="WhatsApp"
          title="WhatsApp - Marina Barbosa (abre em nova aba)" target="_blank">
          <i class="bi bi-whatsapp fs-5"></i>
        </a>
      </div>
    </nav>
    <span class="text-white">Marina Barbosa - 2024</span>
  </div>
</footer>