@import '../../../styles.scss';

.text-yellow {
  color: $color-yellow;
}
.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
}
.bg-yellow {
  background-color: $color-yellow;
}
.fit-content {
  width: fit-content;
}
.custom-container {
  max-width: 500px;
}
.img-custom {
  height: 60vh;
  max-width: 90vw;
  width: 100%;
  object-fit: contain;
}
section{
  min-width: 95vw;
  gap: 6%;
  margin-top: 150px;
}
.glass-custom{
  flex: 1;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.grow-custom{
  flex: 1;
}

@media (min-width: 768px) {
  section {
    margin-top: 200px;
  }
}