/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');



//// Paletas de cores ////

// Cores primárias
$color-blue: #19a3fc; // Azul claro para textos e botões
$color-dark-blue: #070e27; // Azul escuro para cabeçalho e rodapé
$color-dark-blue40: #070e274b; // Overlay
$color-dark-blue10: #070e2710; // Overlay
$color-yellow: #ffc400; // Amarelo para títulos, textos e botões

// Cores neutras
$color-charcoal: #111521; // Carvão para fundo
$color-gray: #212529; // Cinza para texto
$color-white: #f6f8fd; // Branco para fundo e texto


// Estilo global
* {
  font-family: 'Noto Sans', sans-serif;
}

.bg-custom {
  background-color: $color-dark-blue;
}

.content {
  flex: 1;
}

* {
  transition: all 0.3s ease-in-out;
}

.button, .btn, button, a, .link-custom {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.fade-in {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in-active {
  opacity: 1;
}

.cursor-pointer {
  cursor: pointer;
}

