@import '../../../styles.scss';

.text-yellow {
  color: $color-yellow;
}
.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); 
}
.bg-yellow {
  background-color: $color-yellow;
}
.fit-content {
  width: fit-content;
}
.custom-container {
  max-width: 500px;
}
.img-custom {
  max-height: 60vh;
}
section{
  min-width: 95vw;
  gap: 6%;
}
