<section class="d-flex justify-content-center flex-column flex-lg-row">
  <div class="mx-auto mx-lg-0 mt-5 mt-lg-0">
    <img src="./got.png" class="img-custom rounded">
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="mx-auto custom-container p-5 p-lg-0">
      <h1 class="fw-bold text-yellow">Game of Thrones</h1>
      <p><strong>Year:</strong> 2011-2020 <span class="bg-yellow rounded px-2 mx-1">Ratings: TV-MA</span> Released: 17 Apr 2011</p>
      <p class="rounded px-2 bg-secondary text-white fit-content"><strong>Genre:</strong> Action, Adventure, Drama</p>
      <p><strong>Actors:</strong> Emilia Clarke, Peter Dinklage, Kit Harington</p>
      <p><strong>Plot:</strong> Seven noble families fight for control of the mythical land of Westeros, while an ancient enemy returns after being dormant for thousands of years.</p>
      <p class="text-yellow fst-italic"><strong>Language:</strong> English</p>
      <p><i class="bi bi-award-fill text-yellow fs-5 me-2"></i>Won 59 Primetime Emmys. Another 17 wins & 49 nominations.</p>
      <div class="mt-5 d-flex justify-content-center gap-5 align-items-center">
        <app-button variant="primary">Favoritar <i class="bi bi-heart"></i></app-button>
        <app-button routerLink="/" variant="primary">Voltar</app-button>
      </div>
    </div>
  </div>
</section>
